
.main1{
    margin-top: 10rem;
}

.Menu1{ 
    margin-top: 2rem;
    text-align: center;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}